html {
    margin: 0px
}

body {
    font-family:"Urbanist";
    margin: 0px;
    font-size: 1,5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Great Vibes",Baskervville, serif;
    font-size:xx-large;
}

ul {
    margin: 0px;
}

body > header {
    background-color: rgb(180, 206, 184);
    color: rgb(21, 2, 13);
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 10px;
    margin: 16px;
}

body > header > nav > ul {
    font-family: "Urbanist" ;
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: rgb(21, 2, 13);
    text-decoration: none;
    padding: 12px;
    border: 0px solid white;
    border-radius: 10%;
}

h4 {
    font-family: "Urbanist";
}

body > main article {
    font-family: "Urbanist" ;
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

form {
    font-family: "Urbanist" ;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Urbanist";
}

h3{
    font-family: "Urbanist";
}

h5 {
    font-family: "Great Vibes",Baskervville, serif;
    font-size: larger;
    margin-left: 3%;
}

body > footer {
    background-color: rgb(180, 206, 184);
    display: flex;
    text-align: left;
    font-family:"Great Vibes",Baskervville, serif;
    padding: 4px;
}

img {
    border-radius: 0%;
}

div.gallery {
    border: 1px solid #ccc;
    text-align: center;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 199px;
    height: 150px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    width: 200px;
    height: 95px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

#footer-ul {
    display: flex;
    list-style: none;
    text-align: left;
}

#footer-ul > div > li {
    margin-left: 8px;
    text-align: left;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
    font-family: "Urbanist" ;
}